TBS_Project/Binaries/
TBS_Project/Intermediate/
TBS_Project/Saved/
TBS_Project/TBS_Project.sln
TBS_Project/.vs/
TBS_Project.index
*.log

TBS_GameServer/.vs/
TBS_GameServer/TBS_GameServer/bin/
TBS_GameServer/TBS_GameServer/obj/